---
import BaseLayout from "../layouts/BaseLayout.astro"

const pageTitle = 'Pagina de inicio'
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Sitio con Astro</h2>
	<p>Sitio de pruebas con el framework Astro. El cual es sirve para generar paginas web, que sean pensadas para renderizarse en el servidor o 
		seguir esquemas propio de diseño similares a los ofrecidos por wordpress y en donde la optimizacion del uso por parte del cliente es primordial.
	</p>
</BaseLayout>

